@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
html {
	font-size: 12px;
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font: normal 14px "微软雅黑", "宋体", arial;
	background: #f6f6f6;
	color: #000;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form {
    margin:0;
}
h4,h5,h6 {
    font-size:1em;
}
ul,ol {
    padding-left:0; 
    list-style-type:none;
}
img {
	border:0;
	vertical-align: top;
}
a {
	text-decoration: none;
	
}
