@charset "utf-8";
/* CSS Document */
.r_1 span {
	font-size: 24px;
}
.r_1 {
	padding-bottom: 15px;
}
.r_2,
.r_3 {
	padding-bottom: 5px;
}
.r_message {
	float: right;
	position: relative;
	top: 80px;
	right: 20px;
}
.c_head:after {
	content: '';
	display: block;
	clear: both;
}
.section {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #d0d0d0;
}
.left {
	width: 176px;
	height: 100%;
	background: #F9F9F9;
	border-right: 1px solid #d0d0d0;
	padding-top: 20px;
	padding-left: 40px;
	float: left;
}
.left li {
	margin-bottom: 20px;
}
.select,
.select_c,
.select_all {
	background: url(../images/yg/select.png) no-repeat left top;
	float: left;
	width: 16px;
	height: 16px;
}
.select_active,
.select_c_active,
.select_all_active {
	background: url(../images/yg/select_h.png) no-repeat left top;
}
.f_m {
	display: block;
	background: url(../images/yg/folder.png) no-repeat left top;
	margin-left: 25px;
}
.f_active {
	display: block;
	background: url(../images/yg/folder_h.png) no-repeat left top;
}
.f_m span {
	margin-left: 24px;
	display: inline-block;
}
.sec_ul {
	margin-top: 20px;
	margin-left: 28px;
	display: none;
}
.right {
	float: left;
	left: 177px;
	display: none;
}
.sec_ul a {
	display: block;
	margin-left: 24px;
	background: url(../images/yg/sec_m.png) no-repeat left 2px;
}
.sec_ul span {
	margin-left: 24px;
	display: inline-block;
}
.active {
	background: url(../images/yg/sec_m_h.png) no-repeat left 2px !important;
}
.loc {
	position: relative;
	left: 16px;
	top: 18px;
}
.loc img {
	padding-right: 10px;
}
.detail div {
	float: left;
	margin-left: 68px;
	margin-top: 82px;
}
.section:after {
	content: '';
	display: block;
	clear: both;
}
/*
 * bottom
 */
.bottom {
	height: 54px;
	position: relative;
}
.b_l {
	margin-left: 40px;
	width: 60px;
	float: left;
	position: relative;
	top: 20px;
}
.select_all {
	background: url(../images/yg/select.png) no-repeat left top;
	float: left;
	width: 16px;
	height: 16px;
}
.select_all_active {
	background: url(../images/yg/total.png) no-repeat left top;
}
.b_l span {
	display: inline-block;
	margin-left: 15px;
}
.b_r {
	background: url(../images/yg/btn_download.png) no-repeat;
	float: right;
	width: 115px;
	height: 34px;
	position: relative;
	top: 12px;
	right: 38px;
	cursor: pointer;
}