@charset "utf-8";
/* CSS Document */
.loc img {
	padding-right: 10px;
}
.detail div {
	float: left;
	margin-left: 60px;
	margin-top: 60px;
}
.detail:after {
	content: '';
	display: block;
	clear: both;
}
